.doc_common-width
{
    width:500px;
}
.center-flex
{
  display: flex;
  justify-content: center;
}
body
{
    background-color:black;
    color:white;
    font-family:
    "Times New Roman","新宋体";
}
header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    font-size:23px;
    background-color:black;
    border-style:solid;
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
    border-width:1px;
    padding:5px;
}
a
{
    color:aquamarine;
    text-decoration-line:none;
}
p
{
    word-wrap:break-word;
    text-indent:32px;
}
table{
    border-style:solid;
    border-width:1px;
}
th{
    border-style:solid;
    border-width:1px;
}
